@model OrderViewModel;

<div class="text-center my-xl-3">
    <h3 class="bg-warning-subtle text-emphasis-warning ">Уважаемый @Model.User.Name, ваш заказ № @Model.Id.ToString().Split('-').Last() успешно создан!</h3>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Ваш заказ</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>@item.Product.Cost &#8381;</td>
                                <td>@item.Quantity</td>
                                <td>@item.Amount &#8381;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-end">
                <h6>Итого: @Model.Amount &#8381;</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            <h2>Данные заказчика</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Телефон</th>
                            <th>E-mail</th>
                            <th>Адрес</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.User.Name</td>
                            <td>@Model.User.Phone</td>
                            <td>@Model.User.Email</td>
                            <td>@Model.User.Address</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="text-center my-xl-3">
    <a class="btn btn-lg btn-outline-warning my-4" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left"> Продолжить покупки</i></a>
</div>