@model Cart;

<div class="row">

	@*форма заказа*@
	<div class="col-5 card shadow-lg">
		<h4>Ваш заказ</h4>
		<table class="table" style="font-size: 12px">
			<thead>
				<tr>
					<th class="col-5">Название</th>
					<th class="col-2">Цена</th>
					<th class="col-2">Количество</th>
					<th class="col-3">Сумма</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					<tr>
						<td>@item.Product.Name</td>
						<td>@string.Format("{0:### ### ###}", item.Product.Cost) р</td>
						<td>
							@item.Amount
						</td>
						<td>@string.Format("{0:### ### ###}", item.Cost) р</td>
					</tr>
				}
			</tbody>
		</table>
		<div class="text-end">
			<h6>Итого: @string.Format("{0:### ### ###}", Model.Cost) р</h6>
		</div>
	</div>
	<div class="col-1"></div>

	@*форма данных покупателя*@
	<div class="col-6 card shadow-lg">
		<form method="post">
			<div class="form-group" style="margin: 10px">
				<label for="name">ФИО*</label>
				<input type="text" name="name" class="form-control" id="name" placeholder="Фисенко Кирилл Андреевич">
			</div>
			<div class="form-group" style="margin: 10px">
				<label for="email">Email*</label>
				<input type="text" name="email" class="form-control" id="email" placeholder="name@example.com">
			</div>
			<div class="form-group" style="margin: 10px">
				<label for="phone">Телефон*</label>
				<input type="text" name="phone" class="form-control" id="phone" placeholder="+7 (926) 546-3469">
			</div>
			<div class="form-group" style="margin: 10px">
				<label for="address">Адрес*</label>
				<input type="text" name="address" class="form-control" id="address" placeholder="г. Москва, ул. Тверская, д. 1">
			</div>
			<div class="text-center" style="margin:40px">
				<a class="btn btn-primary" asp-controller="home" asp-action="index"><i class="bi bi-arrow-90deg-left"> Продолжить покупки</i></a>
				<button class="btn btn-outline-success" type="submit" asp-controller="order" asp-action="buy"><i class="bi bi-check-circle-fill"> Оформить заказ</i></button>
			</div>
		</form>
	</div>
</div>