@model List<Product>;

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow-lg" style="margin: 10px">
            <img class="card-img-top" src="@product.ImagePath" style="margin: 5px">
            <div class="card-body">
                <a style="color:navy" asp-controller="product" asp-action="index" asp-route-id="@product.Id"><h6>@product.Name</h6></a>
                <h5>@string.Format("{0:### ### ###}", product.Cost) р</h5>
                <p style="font-size:10px">@product.Description</p>
                <div class="btn-group">
                    <a class="btn btn-outline-warning" title="Подробнее о товаре" asp-controller="product" asp-action="index" asp-route-id="@product.Id"> <i class="bi bi-info-square"></i> </a>
                    <a class="btn btn-outline-warning" title="Добавить в избранное" asp-controller="favourites" asp-action="add" asp-route-id="@product.Id"> <i class="bi bi-heart"> </a>
                    <a class="btn btn-outline-warning" title="Сравнить" asp-controller="compare" asp-action="add" asp-route-id="@product.Id"> <i class="bi bi-clipboard2-plus"></i> </a>
                    <a class="btn btn-warning" asp-controller="cart" asp-action="add" asp-route-productid="@product.Id"> <i class="bi bi-cart"> В корзину </i> </a>
                </div>                
            </div>
        </div>
    }
</div>