@model List<ProductViewModel>;

<div class="row">

	<div class="col-lg-3">
		<div class="my-4">			
			@await Html.PartialAsync("LeftMenu")
		</div>
	</div>

	<div class="col-lg-9 my-4">

		@if (Model.Count == 0)
		{
			<div class="text-center my-xl-3">
				<h3 class="bg-warning-subtle text-emphasis-warning ">Ничего не найдено</h3>
				<a class="btn btn-outline-warning my-xl-3" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left"> Перейти к покупкам</i></a>
			</div>
		}
		else
		{
			<div class="row">
				@foreach (var product in Model)
				{
					<div class="col-lg-4 mb-4">
						<div class="card box-shadow h-70">
							<a asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id"><img class="card-img-top rounded mx-auto d-block w-50 h-50" src="@product.ImagePath" alt="Изображение товара"></a>
							<div class="card-body">
								<h5 class="price">@product.Cost &#8381;</h5>
								<p class="textId">ID: @product.Id</p>
								<p class="card-title">
									<a class="titleName" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">@product.Name</a>
								</p>
								<p class="textDescription">@product.Description</p>
							</div>
							<div class="card-body d-flex align-items-end justify-content-around">
								<a class="btn btn-outline-warning" title="Подробнее о товаре" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id"><i class="bi bi-info-square"></i></a>
								<a class="btn btn-outline-warning" title="Добавить в избранное" asp-controller="Favorite" asp-action="Add" asp-route-productId="@product.Id"><i class="bi bi-heart"></i></a>
								<a class="btn btn-outline-warning" title="Сравнить" asp-controller="Compare" asp-action="Add" asp-route-productId="@product.Id"><i class="bi bi-clipboard2-plus"></i></a>
								<a class="btn btn-warning" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id"><i class="bi bi-cart"></i> В корзину</a>
							</div>
						</div>
					</div>
				}
			</div>
		}
	</div>
</div>