@model User;
<form method="post">
    <div class="row">
        @await Html.PartialAsync("MenuAdministrator")
        <div class="col-1"></div>
        <div class="col-9">
            <h4>Пользователь № @Model.Id</h4>
            <br />
            <table class="table">
                <tr>
                    <th>Email:</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Имя:</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th>Фамилия:</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Телефон:</th>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <th>Роль:</th>
                    <td>@Model.Role.Name</td>
                </tr>
            </table>
            <br />
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Действия</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="admin" asp-action="ChangePassword" asp-route-userid="@Model.Id">Смена пароля</a></li>
                <li><a class="dropdown-item" asp-controller="admin" asp-action="EditUser" asp-route-userId="@Model.Id">Редактирование данных</a></li>
                <li><a class="dropdown-item" asp-controller="admin" asp-action="ChangeAccess" asp-route-userid="@Model.Id">Права доступа</a></li>
                <li><hr class="dropdown-divider"></li>
                <!-- Кнопка-триггер модального окна -->
                <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить пользователя</button></li>
            </ul>
        </div>
    </div>
</form>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление пользователя @Model.Email</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этого пользователя?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a type="button" class="btn btn-primary" asp-controller="admin" asp-action="DelUser" asp-route-userid="@Model.Id">Удалить</a>
            </div>
        </div>
    </div>
</div>