@model EditProductViewModel

<div class="row">
	<div class="col-lg-3">
		<div class="my-4">
			@await Html.PartialAsync("MenuAdministrator")
		</div>
	</div>

	<div class="col-lg-9 my-4">
		<form method="post" enctype="multipart/form-data">
			<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
			<input type="hidden" name="Id" value="@Model?.Id" />
			<div class="row g-3">
				<h4 class="bg-warning-subtle text-emphasis-warning">Редактирование товара</h4>

				<div class="col-12">
					<label asp-for="Name">Название товара:</label>
					<input asp-for="Name" type="text" class="form-control" value="@Model.Name" />
					<span asp-validation-for="Name" />
				</div>

				<div class="col-12">
					<label asp-for="Cost">Цена товара, руб.:</label>
					<input asp-for="Cost" type="text" class="form-control" value="@Model.Cost" />
					<span asp-validation-for="Cost" />
				</div>

				<div class="col-12">
					<label asp-for="Description">Описание:</label>
					<input asp-for="Description" type="text" class="form-control" value="@Model.Description" />
					<span asp-validation-for="Description" />
				</div>

				<div class="col-12">
					<label class="my-2">Изображения:</label>
					<input type="hidden" name="Images" value="@Model.Images" />
					<div class="d-flex justify-content-around">
						@foreach (var imagePath in Model.Images)
						{
							<img class="w-25" src="@imagePath.Url" alt="Изображение товара">
						}
					</div>
				</div>

				<div class="col-12">
					<label>Загрузить новые изображения:</label>
					<input name="UploadedFiles" class="form-control" type="file" multiple accept="image/*" value="@Model.UploadedFiles" />
				</div>				
			</div>
			<button type="submit" class="btn btn-warning my-4" asp-area="Admin" asp-controller="Product" asp-action="Edit">Сохранить</button>
			<a class="btn btn-outline-warning" asp-area="Admin" asp-controller="Product" asp-action="Index">Отмена</a>
		</form>
	</div>
</div>