@{
    int i = 1;
}
@model List<Product>;

<div class="row">
    @await Html.PartialAsync("MenuAdministrator")
    <div class="col-1"></div>
    <div class="col-9">
        <h3 class="text-center">Список продуктов</h3>
        <br />
        <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="Product" asp-action="Add"><i class="bi bi-database-add">Добавить новый продукт</i></a>
        <br />
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th></th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td> @i </td>
                                <td class="col-4"><a style="color:navy" asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id"><p>@product.Name</p></a></td>
                                <td><div class="col-3 text-start"><img class="img-fluid" src="@product.ImagePath"></div></td>
                                <td class="col-2">@string.Format("{0:### ### ###}", product.Cost) р</td>
                                <td class="col-4 text-end">
                                    <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-productId="@product.Id"><i class="bi bi-pencil">Редактировать</i></a>
                                    <a class="btn btn-warning" asp-area="Admin" asp-controller="Product" asp-action="Del" asp-route-productId="@product.Id"> <i class="bi bi-trash-fill">Удалить</i></a>
                                </td>
                            </tr>
                            i += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>