@model Cart;

@if (Model == null)
{
	<div class="text-center">
		<h3 class="shadow p-3 mb-5 bg-body-tertiary rounded p-3 mb-2 bg-warning-subtle text-emphasis-warning">Корзина пустая</h3>
		<p></p>
		<a class="btn btn-outline-secondary btn-lg" asp-controller="home" asp-action="index">Перейти к покупкам</a>
	</div>
}
else
{
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th class="col-5">Название</th>
						<th class="col-2">Цена</th>
						<th class="col-2">Количество</th>
						<th class="col-3">Стоимость</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>
								<a style="color:navy" asp-controller="product" asp-action="index" asp-route-id="@item.Product.Id"><p>@item.Product.Name</p></a>
								<div class="col-1">
									<img class="img-fluid" src="@item.Product.ImagePath">
								</div>
							</td>
							<td>@string.Format("{0:### ### ###}", item.Product.Cost) р</td>
							<td>
								@item.Amount
								<a class="btn btn-outline-secondary btn-sm" asp-controller="cart" asp-action="add" asp-route-productid="@item.Product.Id">+</a>
								<a class="btn btn-outline-secondary btn-sm" asp-controller="cart" asp-action="decreaseAmount" asp-route-productid="@item.Product.Id">-</a>
							</td>
							<td>@string.Format("{0:### ### ###}", item.Cost) р</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-end">
				<h4>Итого: @string.Format("{0:### ### ###}", Model.Cost) р</h4>
			</div>
			<div class="text-center">
				<a class="btn btn-outline-secondary btn-lg" asp-controller="home" asp-action="index">Продолжить покупки</a>
				<a class="btn btn-outline-success btn-lg" asp-controller="order" asp-action="index">Перейти к оформлению</a>
				<a class="btn btn-outline-warning btn-lg" asp-controller="cart" asp-action="clear">Очистить корзину</a>
			</div>
		</div>
	</div>
}