@model Cart;

@if (Model == null)
{
	<div class="text-center">
		<h3 class="bg-warning-subtle text-emphasis-warning">В корзине еще нет товаров</h3>
		<a class="btn btn-primary" asp-controller="home" asp-action="index">Перейти к покупкам</a>
	</div>
}
else
{
	<h4>Корзина</h4>
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th class="col-4">Название</th>
						<th class="col-1"></th>
						<th class="col-2">Цена</th>
						<th class="col-2">Количество</th>
						<th class="col-2 text-end">Стоимость</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>
								<a style="color:navy" asp-controller="product" asp-action="index" asp-route-id="@item.Product.Id"><p>@item.Product.Name</p></a>
							</td>
							<td>

								<img class="img-fluid col-6 text-start" src="@item.Product.ImagePath">
								
							</td>
							<td>@string.Format("{0:### ### ###}", item.Product.Cost) р</td>
							<td>
								@item.Amount
								<a class="btn btn-outline-secondary btn-sm" style="border-radius: 50px" asp-controller="cart" asp-action="add" asp-route-productid="@item.Product.Id">+</a>
								<a class="btn btn-outline-secondary btn-sm" style="border-radius: 50px" asp-controller="cart" asp-action="decreaseAmount" asp-route-productid="@item.Product.Id">-</a>
							</td>
							<td class="text-end">@string.Format("{0:### ### ###}", item.Cost) р</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-end">
				<h4>Итого: @string.Format("{0:### ### ###}", Model.Cost) р</h4>
			</div>
			<div class="text-center">
				<a class="btn btn-primary" asp-controller="home" asp-action="index"><i class="bi bi-arrow-90deg-left"> Продолжить покупки</i></a>
				<a class="btn btn-outline-success" asp-controller="order" asp-action="index"><i class="bi bi-check-circle-fill"> Перейти к оформлению</i></a>
				<a class="btn btn-outline-danger" asp-controller="cart" asp-action="clear"><i class="bi bi-x-circle"> Очистить корзину</i></a>
			</div>
		</div>
	</div>
}