@model Cart;

@if (Model == null)
{
	<h3>Корзина пустая</h3>
}
else
{
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th>Название</th>
						<th>Цена</th>
						<th>Количество</th>
						<th>Стоимость</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>
								<a style="color:navy" href="/product/index/@item.Product.Id"><p>@item.Product.Name</p>	</a>
								<div class="col-1">
									<img class="img-fluid" src="@item.Product.ImagePath">
								</div>
							</td>
							<td>@item.Product.Cost руб.</td>
							<td>@item.Amount</td>
							<td>@item.Cost руб.</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-end">
				<h4>Итого: @Model.Cost руб.</h4>
			</div>
			<div class="text-center">
				<a class="btn btn-secondary" href="/home/index" role="button">Продолжить покупки</a>
				<a class="btn btn-outline-warning" href="#" role="button">Перейти к оформлению</a>
			</div>
		</div>
	</div>
}