@model Cart;

<div class="row">

	<div class="col-lg-3">
		<div class="my-4">
			@await Html.PartialAsync("LeftMenu")
		</div>
	</div>

	<div class="col-lg-9 my-4">

		@if (Model == null)
		{
			<div class="text-center my-xl-3">
				<h3 class="bg-warning-subtle text-emphasis-warning ">В корзине еще нет товаров</h3>
				<a class="btn btn-outline-warning my-xl-3" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left"> Перейти к покупкам</i></a>
			</div>
		}
		else
		{
			<div class="my-4">
				<h4 class="bg-warning-subtle text-emphasis-warning">Корзина</h4>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="col-6">Название</th>
							<th class="col-2">Цена</th>
							<th class="col-2">Количество</th>
							<th class="col-2 text-end">Сумма</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Items)
						{
							<tr>
								<td>
									<a asp-controller="Product" asp-action="Index" asp-route-productId="@item.Product.Id">@item.Product.Name</a>
								</td>
								<td>@item.Product.Cost &#8381;</td>
								<td>
									@item.Quantity									
									<div class="btn-group" role="group" aria-label="Basic outlined example"> 
										<a type="button" class="btn btn-outline-secondary" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Product.Id">+</a>
										<a type="button" class="btn btn-outline-secondary" asp-controller="Cart" asp-action="DecreaseAmount" asp-route-productId="@item.Product.Id">-</a>
									</div>
								</td>
								<td class="text-end">@item.Amount &#8381;</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="text-end">
					<h4>Итого: @Model.Cost &#8381;</h4>
				</div>
				<div class="text-center my-xl-3">
					<a class="btn btn-outline-warning" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left"> Продолжить покупки</i></a>
					<a class="btn btn-warning" asp-controller="Order" asp-action="Index"><i class="bi bi-check-circle-fill"> Перейти к оформлению</i></a>
					<!-- Кнопка-триггер модального окна -->
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
						<i class="bi bi-x-circle"> Очистить корзину</i>
					</button>
				</div>
			</div>
		}
	</div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Очистка корзины</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
			</div>
			<div class="modal-body">
				Вы уверены, что хотите очистить корзину?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				<a type="button" class="btn btn-warning" asp-controller="Cart" asp-action="Clear">Очистить</a>
			</div>
		</div>
	</div>
</div>