@model Cart;

@if (Model == null)
{	
	<div class="text-center">
		<h3 class="shadow p-3 mb-5 bg-body-tertiary rounded p-3 mb-2 bg-warning-subtle text-emphasis-warning">Корзина пустая</h3>
		<p></p>
		<a class="btn btn-outline-secondary btn-lg" href="/home/index" role="button">Перейти к покупкам</a>		
	</div>
}
else
{
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th>Название</th>
						<th>Цена</th>
						<th>Количество</th>
						<th>Стоимость</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>
								<a style="color:navy" href="/product/index/@item.Product.Id"><p>@item.Product.Name</p>	</a>
								<div class="col-1">
									<img class="img-fluid" src="@item.Product.ImagePath">
								</div>
							</td>
							<td>@item.Product.Cost руб.</td>
							<td>
								@item.Amount
								<a class="btn btn-outline-secondary btn-sm" href="/cart/add?productId=@item.Product.Id">+</a>
								<a class="btn btn-outline-secondary btn-sm" href="/cart/decreaseAmount?productId=@item.Product.Id">-</a>
							</td>
							<td>@item.Cost руб.</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-end">
				<h4>Итого: @Model.Cost руб.</h4>
			</div>
			<div class="text-center">
				<a class="btn btn-outline-secondary btn-lg" href="/home/index" role="button">Продолжить покупки</a>
				<a class="btn btn-outline-success btn-lg" href="#" role="button">Перейти к оформлению</a>
				<a class="btn btn-outline-warning btn-lg" href="/cart/clear" role="button">Очистить корзину</a>
			</div>			
		</div>
	</div>
}