<div class="list-group list-group-flush d-block position-static mx-0 shadow-lg">
	<a class="list-group-item list-group-item-action text-primary" asp-controller="Home" asp-action="Index">Все категории</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.Processors">Процессоры</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.Motherboards">Материнские платы</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.VideoCards">Видеокарты</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.HDD">HDD</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.SSD">SSD</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.ROM">Оперативная память</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.Enclosures">Корпуса</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.PowerSupplies">Блоки питания</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.CoolingSystems">Системы охлаждения</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.OpticalDrives">Оптические приводы</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.SoundCards">Звуковые карты</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.AccessoriesAndModding">Аксессуары и моддинг</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="GetProductsByCategory" asp-route-categories="@Categories.Software">Программное обеспечение</a>
</div>