@model List<Role>
<form method="post">
	<h4>Смена роли доступа для пользователя @ViewData["userName"]</h4>
	<br />
	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>	
	<select class="form-select-sm" name="Role">
		<option selected>@ViewData["userRole"]</option>
		@foreach (var role in Model)
		{
			<option value="@role.Name">@role.Name</option>
		}
	</select>
	<br />
	<br />
	<br />
	<button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="ChangeAccess" asp-route-userId="@ViewData["userId"]">Сохранить</button>
	<a class="btn btn-outline-primary" asp-area="Admin" asp-controller="User" asp-action="Index">Отмена</a>
</form>