@model UserViewModel;

<div class="row">

    <div class="col-lg-3">
        <div class="my-4">
            @await Html.PartialAsync("MenuAdministrator")
        </div>
    </div>

    <div class="col-lg-9 my-4">
        <form method="post">
            <div class="my-4">
                <h4 class="bg-warning-subtle text-emphasis-warning">Пользователь: @Model.UserName</h4>
                @if (ViewBag.IsAdmin)
                {
                    <p class="text-end text-danger">*удалить УЗ Admin - нельзя</p>
                }
                <table class="table">
                    <tr>
                        <th class="col-3">Email:</th>
                        <td class="col-9">@Model.UserName</td>
                    </tr>
                    <tr>
                        <th>Телефон:</th>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th>Имя:</th>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <th>Адресс:</th>
                        <td>@Model.Address</td>
                    </tr>
                </table>
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Действия</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-name="@Model.UserName">Смена пароля</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-name="@Model.UserName">Редактирование данных</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditRights" asp-route-name="@Model.UserName">Права доступа</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <!-- Кнопка-триггер модального окна -->
                    @if (ViewBag.IsAdmin)
                    {
                        <li><button type="button" class="dropdown-item" disabled>Удалить пользователя</button></li>
                    }
                    else
                    {
                        <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить пользователя</button></li>
                    }
                </ul>
                <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="User" asp-action="Index">Отмена</a>
            </div>
        </form>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление пользователя @Model.UserName</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этого пользователя?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a type="button" asp-area="Admin" class="btn btn-warning" asp-controller="User" asp-action="Remove" asp-route-name="@Model.UserName">Удалить</a>
            </div>
        </div>
    </div>
</div>