@model EditUserByUserViewModel

<div class="row">
	<div class="col-lg-3">
		<div class="my-4">
			@await Html.PartialAsync("LeftMenu")
		</div>
	</div>

	<div class="col-lg-9 my-4">
		<form method="post" enctype="multipart/form-data">
			<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
			<div class="col-12 g-3">
				<h4 class="bg-warning-subtle text-emphasis-warning">Редактирование пользователя</h4>
				@if (!Model.EmailConfirmed)
				{
					<div class="my-4">
						<label>Необходимо подтверждение почты @User.Identity.Name -</label>
						<a asp-area="" asp-controller="Account" asp-action="ConfirmEmailByUser" asp-route-userEmail="@User.Identity.Name">подтвердить</a>
					</div>
				}
				else
				{
					<label>@User.Identity.Name - подтвержден</label>
				}
				<div class="col-6 my-4">
					<label class="my-2"></label>
					<input type="hidden" name="AvatarUrl" value="@Model.AvatarUrl" />
					<img class="rounded-circle z-depth-0" src="@Model.AvatarUrl" alt="" height="100" width="100">
				</div>

				<div class="col-6 my-4">
					<label>Загрузить новый аватар:</label>
					<input name="UploadedFile" class="form-control" type="file" />
				</div>

				<div class="col-6 my-4">
					<label asp-for="PhoneNumber">Телефон:</label>
					<input asp-for="PhoneNumber" type="text" class="form-control" value="@Model.PhoneNumber" />
					<span asp-validation-for="PhoneNumber" />
				</div>

				<div class="col-6 my-4">
					<label asp-for="FirstName">Имя:</label>
					<input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName" />
					<span asp-validation-for="FirstName" />
				</div>

				<div class="col-6 my-4">
					<label asp-for="Address">Адрес:</label>
					<input asp-for="Address" type="text" class="form-control" id="suggest" value="@Model.Address" />
					<span asp-validation-for="Address" />
				</div>

				<div class="col-6 my-4 d-flex justify-content-between">
					<input type="button" class="btn btn-outline-warning" value="показать карту" id="toggle" />
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-warning ms-2" asp-area="" asp-controller="Account" asp-action="Edit">Сохранить</button>
						<a class="btn btn-outline-warning ms-2" asp-area="" asp-controller="Home" asp-action="Index">Отмена</a>
					</div>
				</div>

				<div id="map" class="my-2" style="width: 500px; height: 300px"></div>
			</div>
		</form>
	</div>
</div>